.test-card {
    width: 80%;
    border-radius: 5px;
    text-align: left;
    display: flex;
    background-color: whitesmoke;
    margin: 10px auto;
    padding: 15px;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0 0 4px #0000007d;
    .test-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .test-header {
            flex: 3;
        }
        .test-result {
            text-align: center;
            flex: 3;
            font-weight: 600;
        }
        .delete {
            background-image: url('../../assets/trash-can-regular.svg');
            flex: 1;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
        }

    }

}
