

.App {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  background-color: #d7d7d7;
  .container {
    margin-top:70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    text-align: center;
    .list-container {
      .add-btns {
          display: flex;
          justify-content: space-around;
          padding-top: 20px;
          position: static;
      }
    }
  }
 
}
.hide {
  display: none;
}
.swiper-button-prev, .swiper-button-next {
  // top: 24% !important;
  &::after {
    font-size: 16px !important;
    font-weight: 700;
    color: black;
  }
}
