.form-container {
    display: flex;
    flex-direction: column;
    max-height: 80%;
    // top: 50%;
    // transform: translateY(-50%);
    // position: relative;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 50%);
    padding: 20px;
    background-color: whitesmoke;
    position: relative;
    overflow: auto;
    .google {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 8px;
        background-color: white;
        width: 85%;
        box-shadow:inset 0 0 3px rgba(0,0,0,0.5);
        margin: 5px auto;
        img{
            width: 1.5em;
            // margin-right: 3px;
        }
    }
    .close {
        position: absolute;
        width: 20px;
        background-repeat: no-repeat;
        height: 20px;
        right: 5px;
        top: 10px;
        background-size: contain;
        background-image: url("../../assets/xmark-solid.svg");
    }
    .form-body {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 80%;
        margin: auto;
        justify-content: space-around;
        .form-header {
            margin: auto;
        }
        .meal-item-add {
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(0,0,0,0.5);
            border-radius: 10px;
            padding: 5%;
            margin: 5px 0;
            .single-item {
                display: flex;
                justify-content: space-between;
                color: #9c27b0;
                font-weight: 600;
            }
            button {
                font-weight: bold;
                background-color: #0073cf;
                border: none;
                width: fit-content;
                color: white;
                line-height: 1.2;
                border-radius: 3px;
            }
        }
        input {
            border-radius: 6px;
            border: 1px solid rgba(0,0,0,0.5);
            margin: 4px 0;
        }
        input[type=number] {
            width: 20%;
        }
        input[type=submit] {
            background-color: #9c27b0;
            color: white;
            font-weight: bold;
            border: none;
            width: fit-content;
            padding: 5px 8px;
            margin-right: auto;
        }
    }
    // &.login {
    //     top: 50%;
    //     transform: translateY(-50%);
    //     position: relative;
    //     height: 50%;
    // }

}
